@import url("./variables.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Poppins:wght@100;200;300;500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  scroll-behavior: smooth;
  text-decoration: none;
  outline-style: none;
  border: none;
  color: var(--txt-color);
}

body {
  background: var(--bg-color);
  color: var(--txt-color);
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

button {
  background-color: var(--bg-color);
  padding: 0.5rem 1rem;
  cursor: pointer;
  margin: 1rem 0;

  border-radius: 0.75rem;
  width: max-content;
  transition: all 200ms ease-in-out;
  border: 2px solid var(--accent-color);
}

button:hover {
  background-color: var(--accent-color);
  color: var(--bg-color);
}

input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--background-color);
  margin: 0;

  font: inherit;
  color: var(--accent-color);
  width: 1.15rem;
  height: 1.15rem;
  border: 0.15rem solid var(--accent-color);
  border-radius: 0.15rem;
  transform: translateY(-0.075rem);

  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65rem;
  height: 0.65rem;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1rem 1rem var(--accent-color);
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

input[type="checkbox"]:disabled {
  --form-control-color: var(--form-control-disabled);

  color: var(--form-control-disabled);
  cursor: not-allowed;
}

.file-upload {
  position: relative;
  background-color: var(--bg-color);
  border-radius: 1rem;
  width: max-content;
  transition: all 200ms ease-in-out;
  border: 2px solid var(--accent-color);
  cursor: pointer;
}

.file-upload > * {
  padding: 0.5rem;
}

.file-upload:hover {
  background-color: var(--accent-color);
  color: var(--bg-color);
  cursor: pointer;
}

.file-upload > p {
  z-index: 0;
  position: absolute;
  width: 100%;
  text-align: center;
}

.file-upload > input {
  z-index: 1;
  opacity: 0%;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.formkit-outer {
  width: 100%;
}
