@import url("./variables.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Poppins:wght@100;200;300;500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  scroll-behavior: smooth;
  text-decoration: none;
  outline-style: none;
  border: none;
  color: var(--txt-color);
}

body {
  background: var(--bg-color);
  color: var(--txt-color);
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.button {
  background-color: var(--bg-color);
  padding: 0.5rem 1rem;
  cursor: pointer;
  margin: 0.1rem 0;

  border-radius: 0.75rem;
  width: max-content;
  transition: all 200ms ease-in-out;
  border: 2px solid var(--accent-color);
}

.button:hover {
  background-color: var(--accent-color);
  color: var(--bg-color);
}

.formkit-outer {
  width: 100%;
}
.formkit-wrapper {
  min-width: 100%;
  width: inherit;
}

.next-button {
  margin-left: auto;
  align-self: flex-end;
}

.secondary-button {
  background-color: var(--accent-color);
  padding: 0.5rem 0.75rem;
  border-radius: 0 0 0.25rem 0.25rem;
  color: white;
  cursor: pointer;

  transition: all 50ms ease-in-out;
}
.secondary-button:hover {
  background-color: var(--accent-color);
  opacity: 0.8;
}

.timeline-container {
  border: 3px solid var(--accent-color);
  padding: 1rem;
  margin: 0.5rem 0;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column;
}

.timeline-container:last-child {
  margin: 0 !important;
}
.actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.asset-image {
  max-width: 100%;
  max-height: 12rem;
  object-fit: contain;
  margin-left: auto;
}

.event-section {
  margin: 2rem 0;
  padding: 2rem;
  border: 2px solid var(--accent-color);
  border-radius: 2rem;
}

@media screen and (max-width: 768px) {
  .event-section {
    padding: 0.5rem;
  }
}
.mosha__toast__content__text {
  color: white;
}
